@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    max-width: 1680;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    z-index: 99;

}

header .logo img {
    width: 120px;
    margin: 0 60px;
}
header .menu{
    display: flex;
}

header .menu ul {
    display: flex;
    padding: 0 150px;
}

header .menu ul li {
    list-style: none;
    padding: 0 30px;
}

header .menu ul li a {
    font-family: 'Belleza', sans-serif;
    text-decoration: none;
    font-size: #bbb;
    color: #b48c56;
}

header .menu ul li a:hover {
    color: #f2d2a3;
    text-decoration: underline;
}

/*------Section-----*/

section .container {
    max-width: 1680px;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
}

/*------home-----*/
#home .container {
    background: url(../imagens/bg1.png) no-repeat;
    background-size: cover;

}

#home .container .content {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}

#home .container .content  h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    color: #302725;
}

#home .container .content p {
    font-family: 'Belleza', sans-serif;
    color: #302725;
    font-size: 1.3rem;
    margin-bottom: 120px;
    margin-top: 40px;
}

#home .container .content  span {
    font-size: 2.5rem;
    font-family: 'Belleza', sans-serif;
    color: #b48c56;
    letter-spacing: 5px;
}

#home .container .content  .buttom {
    padding-top: 200px;
}

#home .container .content  .button button {
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
    background: #b48c56;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

#home .container .content  .button button:hover {
    transform: scale(1.1);
}

#home .container .content button.btn2 {
    background-color: #302725;
    padding: 15px 20px;
    position: relative;
    right: 5px;
}

/*------branch-----*/

#branch .container {
    background: url(../imagens/bg3.png) no-repeat;
    background-size: 100% 100%;
}

#branch .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

#branch .container .title .line {
    width: 150px;
    height: 2px;
    background: #b48c56;
}

#branch .container .title h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
}

#branch .container .content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;

}

#branch .container .content .box {
    width: 25%;
    height: 60vh;
    background-color: rgba(255red, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;

}

#branch .container .box h3 {
    font-family: 'Belleza', sans-serif;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 200;
    letter-spacing: 8px;
    background: #b48c56;
    padding: 5px 10px;
    color: #f0f8ff;
    border-radius: 5px;

}

#branch .container .box img {
    width: 120px;
}

#branch .container .box h1 {
    font-size: 2rem;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}

#branch .container .box p {
    font-family: 'Belleza', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: #b48c56;
    margin-top: 60px;
}

#branch .container .box button {
    padding: 10px 20px;
    border: none;
    background: #302725;
    color: #f0f8ff;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top: 50px;
    cursor: pointer;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

}

#branch .container .box:hover button {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}

/*-------ABOUT-----*/

#about .container{
    background: url(../imagens/bg2.png) no-repeat;
    background-size: 100% 100%;
}

#about .container .title{
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

#about .container .title .line {
    width: 150px;
    height: 2px;
    background: #b48cb4;
}

#about .container .title h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
}

#about .container .title .call {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 200px;

}

#about .container .title .call h2 {
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 10px;
}

#about .container .title .call p {
    font-family: 'Belleza', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;

}

#about .container .title .call button {
    margin-top: 50px;
    padding: 10px 20px;
    border: 20px;
    background: #302725;
    color: #f0f8ff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

#about .container .title .call button:hover {
    transform: scale(1);
    border: 2px solid #302725;
    background: none;
    color: #302725;
    font-weight: 600;
}

/*-------products-----*/
#products.container{
    background: url(../imagens/bg3.png) no-repeat;
    background-size: 100% 100%;
}
#products .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#products .container .title .line{
    width: 150px;
    height: 2px;
    background: #b48c56;
}
#products .container .title h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
}
#products .container .card{
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products .container .card .box{
    width: 100%;
    height: 45vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
#products .container .card .box {
    width: 50px;
    height: 60px;
    background: #302725;
    text-align: center;
    line-height: 80px;
    margin-top: 60px;
    cursor: pointer;

}
#products .container .card .box ion-icon {
    color: #fff;
    font-size: 1.6rem;
}
#products .container .card .box img{
    width: 100px;
    margin-top: 35px;
}
#products .container .card .box h1 {
    margin-top: 30px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;

}
#products .container .card .box p{
    font-family: 'Belleza', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: #B48C56;
    margin-top:15px;
    background-color: blue!important;

}
